# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env
.env.*

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Generated data
data/

# OS files
.DS_Store
Thumbs.db